<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
      defer
    ></script>
    <title>Add Review</title>
  </head>
  <body>
    <%-include('./partials/navbar.ejs') %>

    <div class="container mt-5">
      <form>
        <div class="form-group">
          <label for="title">Movie Name</label>
          <input
            id="title"
            type="text"
            class="form-control"
            name="title"
            placeholder="Movie title"
          />
        </div>
        <div class="form-group">
          <label for="description">What's the movie about?</label><br />
          <textarea
            id="description"
            name="description"
            cols="50"
            rows="5"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="review">What do you think about the movie?</label><br />
          <textarea id="review" name="review" cols="50" rows="5"></textarea>
        </div>
        <div class="form-group">
          <select
            class="form-select"
            multiple
            aria-label="multiple select example"
            id="actors-select"
          >
            <% actors.forEach(actor => { %>
            <option data-id="<%= actor.id %> "><%= actor.fullname %></option>
            <% })%>
          </select>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>

    <script>
      const select = document.getElementById("actors-select");
      const submitButton = document.getElementById("submit-button");

      //Inputs
      const movieTitleInput = document.getElementById("title");
      const movieDescInput = document.getElementById("description");
      const movieReviewInput = document.getElementById("review");

      submitButton.addEventListener("click", async (e) => {
        e.preventDefault();

        const newMovieData = {
          title: movieTitleInput.value,
          description: movieDescInput.value,
          review: movieReviewInput.value,
        };

        const movieResponse = await fetch("/addmovie", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(newMovieData),
        });

        //ID of the last inserted movie row
        let movieId = await movieResponse.json();
        movieId = movieId.insertedMovieId;

        let selected = [];
        for (const option of select) {
          if (option.selected) {
            selected.push(option.getAttribute("data-id"));
          }
        }

        console.log("Selected: ", selected);

        const newActorsMoviesData = {
          movie_id: movieId,
          actor_id: selected,
        };

        const actorsMoviesResponse = await fetch("/addmoviesactors", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(newActorsMoviesData),
        });

        console.log("response: ", actorsMoviesResponse);

        let aaa = await actorsMoviesResponse.json();
        console.log("Response json: ", aaa);
      });
    </script>
  </body>
</html>
