<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/register.css">
    <title>Register</title>
</head>
<body>

    <div class="container">
        <form id="form">
            <h2>Registration</h2>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
                <div class="error" id="username-error"></div>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <div class="error" id="email-error"></div>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <div class="error" id="password-error"></div>
            </div>
            <input id="register-button" type="submit" value="Register">
        </form>
    </div>

    <script>

        const form = document.getElementById('form');
        const usernameErrorField = document.getElementById('username-error');
        const emailErrorField = document.getElementById('email-error');
        const passwordErrorField = document.getElementById('password-error');
        
        form.addEventListener('submit', async (e) => {

            e.preventDefault();

            usernameErrorField.textContent = "";
            passwordErrorField.textContent = "";

            const data = {
                username: form.username.value,
                email: form.email.value,
                password: form.password.value,
            }

            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },  
                body: JSON.stringify(data),
                });
        
            const fetchedData = await response.json();

            //Check if fetchedData contains any errors and displays them
            if(fetchedData.error){
                if('usernameError' in fetchedData.error){
                    usernameErrorField.textContent = fetchedData.error.usernameError;
                }
                if('passwordError' in fetchedData.error){
                    passwordErrorField.textContent = fetchedData.error.passwordError;
                }
            }

            //Do something with the newly added users id (add later)
            if(fetchedData.userId){
                console.log(fetchedData.userId);
            }

        });

    </script>


</body>
</html>