.actor-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 20px;
}

.card-custom {
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s;
}

.card-custom:hover {
  transform: scale(1.05);
  transition: 0.3s;
  animation: ease-in-out;
}

@media only screen and (max-width: 768px) {
  .actor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .actor-container {
    display: flex;
    flex-direction: column;
  }
}
