* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-top: 10%;
}

body {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 30px;
}

form div {
  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 100px;
  margin: 0 auto;
}

.error {
  color: red;
  text-decoration: solid;
}
